@import "../../global.scss";

.contact{
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
    }
   
    .left {
        background-color: greenyellow;
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items:center;
        position: relative;
        padding-left: 50px;


        h1{
            
            color: $mainColor;
            font-size: 3.5rem;

            @include mobile{
                font-size: 2rem;
            }
        }
     img {
        
        position: absolute;
        width: 10%;
        right: 300px;
        bottom: 40px;

        @include mobile {
            width: 10%;
            right: 225px;
            bottom: 20px;
        }
      
    }
}
    .right {
       
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 30px;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            

            input{
                width: 300px;
                height: 30px;
                font-size: 14px;

                @include mobile{
                    width: 200px;
                    height: 20px;
                }
            }

            textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;

                @include mobile{
                    width: 200px;
                    height: 100px;
                }
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: greenyellow;
                border: none;
                border-radius: 10px;
                cursor: pointer;

                &:hover{
                    background-color: honeydew;
                    border: 2px solid black;
            
                    color: limegreen;
                }

                &:focus{
                    outline: none;
                }
            }

            
        }
    }

    
}